<header class="fc-header">
    <div class="fc-brand-logo">
        <a href="/dashboard?n_design=true">
            <span class="fc-brand-logo__text">
                Prospect
                <strong class="fc-brand-logo__text--strong">Rocket</strong>
            </span>
        </a>
    </div>
    <nav class="fc-brand-navbar">
        <ul>
            <li id="back-account" style="display: none;">
                <a class="fc-brand-navbar__nav btn-backAccount" href="javascript:if(is_login_by_customer && is_login_by_customer != false) window.location=customer_auto_login;">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i> Back to my account
                </a>
            </li>

            <li>
                <a href="/dashboard?n_design=true" class="fc-brand-navbar__nav">
                    <i class="fa fa-dashboard fc-brand-navbar__nav-icon"></i>
                    <span class="fc-brand-navbar__nav-text">Dashboard</span>
                </a>
            </li>

            <li>
                <a href="javascript:if(TrainingSuportLink && TrainingSuportLink != '#') window.open(TrainingSuportLink);" target="_blank" class="fc-brand-navbar__nav">
                    <i class="fa fa-wrench fc-brand-navbar__nav-icon"></i>
                    <span class="fc-brand-navbar__nav-text">Training</span>
                </a>
            </li>

            <li>
                <div class="dropdown fc-dropdown fc-dropdown--right fc-dropdown--arrow fc-dropdown--border">
                    <a href="#" class="fc-brand-navbar__nav"
                       id="lccCreateNewDropdown2"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">
                        <i class="fa fa-cog fc-brand-navbar__nav-icon"></i>
                        <span class="fc-brand-navbar__nav-text"> Settings</span>
                        <!--<span class="caret"></span>-->
                    </a>
                    <ul class="dropdown-menu fc-dropdown__list" aria-labelledby="lccCreateNewDropdown2" style="width: 195px;">
                        <li class="fc-dropdown__list-item-sm">
                            <a href="/user/account"><i class="fa fa-fw fa-user"></i>Account</a>
                        </li>
                        <li class="fc-dropdown__list-item-sm">
                            <a href="/settings/goals_settings?n_design=true"><i class="fa fa-fw fa-bullseye"></i> Goals</a>
                        </li>
                        <li class="fc-dropdown__list-item-sm">
                            <a href="/settings/integrations?n_design=true"><i class="fa fa-fw fa-arrow-circle-o-right"></i> Integrations</a>
                        </li>
                        <li class="fc-dropdown__list-item-sm">
                            <a href="/user/email_settings?n_design=true"><i class="fa fa-fw fa-envelope"></i> Email Setup</a>
                        </li>
                        <li class="fc-dropdown__list-item-sm">
                            <a href="/settings/lead_aware?n_design=true"><i class="fa fa-fw fa-gears"></i> Lead Aware</a>
                        </li>
                        <li class="fc-dropdown__list-item-sm">
                            <a href="/settings/category?n_design=true"><i class="fa fa-fw fa-database"></i> Categories</a>
                        </li>
                        <li class="fc-dropdown__list-item-sm">
                            <a href="/settings/dashboard_pipeline?n_design=true"><i class="fa fa-fw fa-bar-chart-o"></i> Pipeline</a>
                        </li>
                        <li class="fc-dropdown__list-item-sm">
                            <a href="/settings/tags?n_design=true"><i class="fa fa-fw fa-tag"></i> Tags</a>
                        </li>
                        <li class="fc-dropdown__list-item-sm" id="header-user-setup" style="display: none;">
                            <a href="/staff/staffs?n_design=true"><i class="fa fa-fw fa-users"></i> User Setup</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li>
                <a href="/user/logout" onclick="$.removeCookie('last_uri')" class="fc-brand-navbar__nav">
                    <i class="fa fa-power-off fc-brand-navbar__nav-icon"></i>
                </a>
            </li>
        </ul>
    </nav>
</header>