<aside class="fc-sidebar">
    <nav class="fc-sidebar-navbar">
        <ul>
            <li>
                <a href="#" class="fc-sidebar-navbar__nav">
                    <i class="fa fa-users fc-sidebar-navbar__nav-icon"></i>
                    <span class="fc-sidebar-navbar__nav-text">Contacts</span>
                </a>
            </li>
            <li>
                <a href="#" class="fc-sidebar-navbar__nav">
                    <i class="fa fa-bullseye fc-sidebar-navbar__nav-icon"></i>
                    <span class="fc-sidebar-navbar__nav-text">Opportunities</span>
                </a>
            </li>
            <li>
                <a href="#" class="fc-sidebar-navbar__nav">
                    <i class="fa fa-suitcase fc-sidebar-navbar__nav-icon"></i>
                    <span class="fc-sidebar-navbar__nav-text">Marketing</span>
                </a>
                <ul>
                    <li>
                        <a href="#" class="fc-sidebar-navbar__nav fc-sidebar-navbar__nav--subnav">
                            <i class="fa fa-headphones fc-sidebar-navbar__nav-icon"></i>
                            <span class="fc-sidebar-navbar__nav-text">Call Block</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="fc-sidebar-navbar__nav fc-sidebar-navbar__nav--subnav">
                            <i class="fa fa-bullhorn fc-sidebar-navbar__nav-icon"></i>
                            <span class="fc-sidebar-navbar__nav-text">Campaigns</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="fc-sidebar-navbar__nav fc-sidebar-navbar__nav--subnav">
                            <i class="fa fa-file-text-o fc-sidebar-navbar__nav-icon"></i>
                            <span class="fc-sidebar-navbar__nav-text">Optin Pages</span>
                        </a>
                    </li>
                    <li>
                        <a href="/?path=lcc-dashboard" class="fc-sidebar-navbar__nav fc-sidebar-navbar__nav--subnav fc-sidebar-navbar__nav--active">
                            <i class="fa fa-user fc-sidebar-navbar__nav-icon"></i>
                            <span class="fc-sidebar-navbar__nav-text">Lead Capture</span>
                        </a>
                    </li>

                    <li>
                        <a href="/?path=autoamtions-standalone" class="fc-sidebar-navbar__nav fc-sidebar-navbar__nav--subnav">
                            <i class="fa fa-user fc-sidebar-navbar__nav-icon"></i>
                            <span class="fc-sidebar-navbar__nav-text">Automation</span>
                        </a>
                    </li>


                </ul>
            </li>
            <li>
                <a href="#" class="fc-sidebar-navbar__nav">
                    <i class="fa fa-calendar fc-sidebar-navbar__nav-icon"></i>
                    <span class="fc-sidebar-navbar__nav-text">Calendar</span>
                </a>
            </li>
            <li>
                <a href="#" class="fc-sidebar-navbar__nav">
                    <i class="fa fa-envelope-o fc-sidebar-navbar__nav-icon"></i>
                    <span class="fc-sidebar-navbar__nav-text">Emails</span>
                </a>
            </li>
        </ul>
    </nav>
</aside>